body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  border-radius: 5px;
  text-align: center;
  width: 30%;
}

input {
  margin: 5px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #007bff;
  margin-right: 10px;
}
