<link rel="stylesheet" type="text/css" href="/styles/chat.css">


<div class="container"
>
  <h1>Welcome to the community chat: &nbsp;<span id="span-nombre"></span></h1>
  <h3>Community Messages:</h3>

  <div id="div-msg">
    Please send a message to the chat
  </div>
  <input id="input-msg" type="text" value="" placeholder="Type your message here...">

  <button class="btn-send">SEND</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatRealTime.js"></script>
