<link rel="stylesheet" type="text/css" href="/styles/documents.css">

<div class="container">
  <h1>Document Upload</h1>
  <form action="/api/users/{{uid}}/documents" method="POST" enctype="multipart/form-data">
    <select name="category" required>
      <option value="profile">Profile</option>
      <option value="products">Products</option>
      <option value="documents">Documents</option>
    </select>

    <input type="file" name="file" accept=".pdf, .doc, .docx" required>

    <button type="submit" class="btn">Upload Document</button>
  </form>

  {{#if hasUploadedDocuments}}
    <p>Document Uploaded Successfully!</p>
  {{/if}}
</div>
