<div>
  <h1>Document Upload</h1>
<form action="/api/users/{{uid}}/documents" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept=".pdf, .doc, .docx"> 
    <button type="submit">Upload Document</button>
    <p>La UID es {{uid}}</p>
  </form>

  {{#if hasUploadedDocuments}}
    <p>Document Uploaded Successfully!</p>
  {{/if}}
</div>
