<link rel="stylesheet" type="text/css" href="/styles/createProducts.css">


<div class="realtimeproducts-container">
  <form id="form-products">
    <div class="newProduct">
      <div class="input-form">
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" placeholder="Title" required />
      </div>
      <div class="input-form">
        <label for="price">Price:</label>
        <input id="price" type="number" name="price" placeholder="Price" required />
      </div>
      <div class="input-form">
        <label for="description">Description:</label>
        <input id="description" type="text" name="description" placeholder="Description" required />
      </div>
      <div class="input-form">
        <label for="thumbnails">Thumbnails:</label>
        <input id="thumbnails" type="text" name="thumbnail" placeholder="Thumbnail" />
      </div>
      <div class="input-form">
        <label for="code">Code:</label>
        <input id="code" type="text" name="code" placeholder="Code" required />
      </div>
      <div class="input-form">
        <label for="stock">Stock:</label>
        <input id="stock" type="number" name="stock" placeholder="Stock" required />
      </div>
      <div class="input-form">
        <label for="category">Category:</label>
        <input id="category" type="text" name="category" placeholder="Category" required />
      </div>
      <div class="input-form">
        <label for="status">Status:</label>
        <input id="status" type="checkbox" name="status" />
      </div>
      <input id="btn-form" type="submit" value="Crear Producto" />
    </div>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/realTimeProducts.js"></script>
