<link rel="stylesheet" type="text/css" href="/styles/recover-pass.css">

<form action='/recover-pass' method='post' class='container'>
  <h2 class='text-center text-white mb-3'>Please set a new password:</h2>

  <div class='mb-4'>
    <div class='form-floating mb-3'>
      <label for='inputEmailRegister'><i class='bi bi-envelope-at me-1'></i>Email</label>
      <input value='{{email}}' type='text' class='form-control border-0 border-bottom border-dark'
        id='inputEmailRegister' name='email' placeholder='Email' readonly />
    </div>

    <div class='form-floating mb-3'>
      <label for='inputtokenRegister'><i class='bi bi-envelope-at me-1'></i>Token</label>
      <input value='{{token}}' type='text' class='form-control border-0 border-bottom border-dark'
        id='inputtokenRegister' name='token' placeholder='Token' readonly />
    </div>

    <div class='form-floating mb-3'>
      <label for='inputpasswordRegister'><i class='bi bi-envelope-at me-1'></i>Password</label>
      <input type='password' class='form-control border-0 border-bottom border-dark' id='inputpasswordRegister'
        name='password' placeholder='Password' />
    </div>

    <div class='w-100 mt-4 d-flex justify-content-center align-items-center flex-column text-white'>
      <button type='submit' class='btn btn-primary btn-block mb-4 w-100'>
        Set New Password
      </button>
    </div>
  </div>
</form>
