<link rel="stylesheet" type="text/css" href="/styles/mail-recover.css">

<div class="container">
  <h1>Recover Your Account</h1>
  <form action="/recover-mail" method="post">
    <label for="inputEmail">Email:</label>
    <input type="email" id="inputEmail" name="email" required>

    <button type="submit" class="btn btn-primary btn-block">
      Send email
    </button>



    <div class="text-center">
      <a href="/recover-mail">Forgot password?</a>
    </div>

    <div class="text-center">
      <p>Not a member? <a href="/api/sessions/register">Register</a></p>
    </div>
  </form>
</div>
