<link rel="stylesheet" type="text/css" href="styles/register.css">

<body>
  <div class="container">
    <form action="/api/sessions/register" method="POST">
      <input id="firstName" name="firstName" type="text" required placeholder="First Name" />

      <input id="lastName" name="lastName" type="text" required placeholder="Last Name" />

      <input id="age" name="age" type="number" required placeholder="Age" />

      <input id="email" name="email" type="email" required placeholder="Email" />

      <input id="password" name="password" type="password" required placeholder="Password" />

      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Log in here</a>.</p>
  </div>
</body>

